@import "styles/mixins/layout.scss";

.nav {
  @include container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
