@import "styles/mixins/layout.scss";
@import "styles/mixins/breakpoints.scss";
@import "styles/variables/colors.scss";
@import "styles/mixins/selectors.scss";

.main {
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .container {
    @include container;
    min-height: 50vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include md {
      &--padded {
        padding: 0 9rem;
      }
    }

    * {
      z-index: 20;
    }

    h1 {
      font-size: 36px;
      font-weight: 700;
      text-align: start;

      @include md {
        font-size: 52px;
      }
    }

    p {
      font-size: 18px;
      margin-top: 1rem;

      text-align: start;
    }
  }

  .shade {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: black;
  }
}
