@import "styles/mixins/layout.scss";
@import "styles/mixins/breakpoints.scss";
@import "styles/mixins/selectors.scss";

.container {
  border-bottom: 1px solid #e8e8e8;
  z-index: 200;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);

  &--opened {
    height: 100%;
  }

  .nav {
    @include container;
    font-family: Inter, "Open Sans", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    button,
    a {
      cursor: pointer;
      @include hover;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
    }

    .left {
      z-index: 200;
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
        cursor: pointer;
      }
    }

    .mid {
      button {
        display: none;
      }

      @include md-down {
        display: block;
        font-size: 24px;
        z-index: 100;
        position: absolute;
        overflow: hidden;
        inset-block-start: 65px;
        inset-inline-end: 0;
        background: white;
        width: 50%;
        height: 100%;
        border-inline-end: #ccc 1px solid;
        padding-top: 10px;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        font-weight: 700;

        ul {
          @include container;
          flex-direction: column;
          align-items: start;
          gap: 1em;
        }

        &--opened {
          display: block;
          transform: translateY(0);
          transition: transform 0.25s ease-in-out;
        }
      }

      @include sm-down {
        width: 100%;
      }
    }

    .right {
      z-index: 200;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;

      @include md-down {
        gap: 1.2em;
        padding-inline-end: 1em;
      }

      .menu_btn {
        display: none;
        cursor: pointer;

        @include md-down {
          display: inline;
        }
      }
    }
  }
}
