@import "styles/mixins/layout.scss";
@import "styles/mixins/breakpoints.scss";
@import "styles/mixins/selectors.scss";

.container {
  border-bottom: 1px solid #e8e8e8;
  z-index: 100;
  color: white;

  &--dark {
    color: rgb(75, 85, 99);
  }

  &--floating {
    position: absolute;
    width: 100%;
    border: 0;
  }

  &--shadow {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.12) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &--opened {
    height: 100%;
  }

  .nav {
    @include container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-weight: bold;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
    }

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
        cursor: pointer;
      }
    }

    .mid {
      font-weight: bold;

      button {
        display: none;
      }

      a {
        cursor: pointer;
        @include hover;
      }

      @include md-down {
        display: block;
        font-size: 24px;
        font-weight: 700;
        z-index: 30;
        position: absolute;
        overflow: hidden;
        inset-block-start: 0;
        inset-inline-end: 0;
        background: rgba(0, 0, 0, 0.95);
        color: white;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        padding-top: 45px;
        transform: translateX(768px);
        transition: transform 0.5s ease-in-out;

        ul {
          margin-block-start: 1.5em;
          flex-direction: column;
          align-items: center;
          gap: 1em;
        }

        button {
          display: block;
          position: absolute;
          inset-block-start: 15px;
          inset-inline-end: 30px;
        }

        &--opened {
          transform: translateX(0);
          transition: transform 0.5s ease-in-out;
        }
      }

      @include sm-down {
        width: 100%;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;

      @include md-down {
        gap: 1.2em;
      }

      .menu_btn {
        display: none;
        cursor: pointer;

        @include md-down {
          display: inline;
        }
      }
    }
  }
}
