@import "styles/mixins/layout.scss";
@import "styles/mixins/breakpoints.scss";
@import "styles/mixins/rounded.scss";

.container {
  margin-top: 2em;

  .title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    @include md {
      padding-inline-start: 1em;
    }
  }

  .scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100vw;
    padding-inline-end: 0.3em;
    margin-inline-start: -1.3em;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    @include md {
      flex-wrap: wrap;
      overflow-x: none;
      width: 100%;
      padding-inline-end: 0;
      margin-inline-start: 0;
    }

    .item {
      @include rounded;
      position: relative;
      flex-grow: 1;
      margin: 20px 7px;
      min-width: 280px;
      height: 375px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include md {
        transform: scale(0.98);
        transition: all 0.3s ease 0s;

        &:hover {
          transform: scale(1);
        }
      }

      .content {
        @include rounded;
        position: absolute;
        color: white;
        inset: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 70%
        );

        h2 {
          font-weight: 800;
          font-size: 1.5em;
          line-height: 1.3;
          margin-top: 7.5px;
          margin-bottom: 15px;
        }

        footer {
          p {
            display: flex;
            flex-direction: row;

            time {
              margin-inline-start: 1em;
              opacity: 0.8;
              color: rgb(247, 247, 247);
            }
          }
        }
      }
    }
  }
}
