@import "styles/mixins/layout.scss";
@import "styles/mixins/breakpoints.scss";
@import "styles/mixins/rounded.scss";
@import "styles/mixins/selectors.scss";

.container {
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 26px;
    font-weight: 700;

    @include md {
      border-bottom: 1px solid $primary;
      padding-bottom: 12px;
      margin-bottom: 24px;
    }

    @include md-down {
      &:after {
        flex: 1 1 0px;
        width: auto;
        content: " ";
        margin-inline-start: 1rem;
        height: 0.125rem;
        margin-block-start: 0.125rem;
        margin-inline-end: 0;
        background: $primary;
        display: inline-block;
      }
    }
  }

  @include md {
    margin-inline-end: 1em;
  }

  article {
    @include rounded;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    box-shadow: 0 0 1px 0 rgb(21 21 21 / 10%),
      0 2px 8px -1px rgb(21 21 21 / 20%);
    cursor: pointer;

    transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in,
      color 0.2s ease-in;

    &:hover {
      box-shadow: 0 0 4px 0 rgb(21 21 21 / 14%),
        0 16px 20px -5px rgb(21 21 21 / 18%);

      header {
        color: $primary;
      }
    }

    @include md {
      gap: 1em;
      box-shadow: none;
      flex-direction: row;
    }

    .hero {
      position: relative;
      width: 100%;
      height: 200px;

      @include md {
        min-width: 300px;
        max-width: 300px;
        height: 200px;
      }
    }

    section {
      padding: 18px;
      width: 100%;

      & > * {
        margin-block-end: 1em;
      }

      @include md {
        padding: 12px;
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > * {
          margin-block-end: 0;
        }
      }

      header {
        font-weight: 700;
        font-size: 20px;
      }

      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        address {
          font-weight: 700;
          font-style: normal;
        }
      }
    }
  }
}
